.frame {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .frame .div {
    background-color: #ffffff;
    width: 388px;
    height: 841px;
    position: relative;
  }
  
  .frame .group {
    position: absolute;
    width: 192px;
    height: 37px;
    top: 567px;
    left: 98px;
  }
  
  .frame .mask-group {
    position: absolute;
    width: 37px;
    height: 37px;
    top: 0;
    left: 0;
  }
  
  .frame .img {
    left: 52px;
    position: absolute;
    width: 37px;
    height: 37px;
    top: 0;
  }
  
  .frame .mask-group-2 {
    left: 155px;
    position: absolute;
    width: 37px;
    height: 37px;
    top: 0;
  }
  
  .frame .mask-group-3 {
    left: 103px;
    position: absolute;
    width: 37px;
    height: 37px;
    top: 0;
  }
  
  .frame .text-wrapper {
    top: 201px;
    left: 75px;
    font-family: "Pretendard-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: -0.28px;
    line-height: 18.2px;
    position: absolute;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-2 {
    top: 201px;
    left: 221px;
    font-family: "Pretendard-Regular", Helvetica;
    font-weight: 400;
    color: #757575;
    font-size: 14px;
    letter-spacing: -0.28px;
    line-height: 18.2px;
    position: absolute;
    white-space: nowrap;
  }
  
  .frame .rectangle {
    position: absolute;
    width: 177px;
    height: 3px;
    top: 226px;
    left: 16px;
    background-color: #757575;
  }
  
  .frame .rectangle-2 {
    position: absolute;
    width: 179px;
    height: 3px;
    top: 226px;
    left: 193px;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    border-color: #757575;
  }
  
  .frame .rectangle-3 {
    position: absolute;
    width: 356px;
    height: 1px;
    top: 303px;
    left: 16px;
    background-color: #dedede;
    border-radius: 10px;
  }
  
  .frame .rectangle-4 {
    position: absolute;
    width: 356px;
    height: 1px;
    top: 362px;
    left: 16px;
    background-color: #dedede;
    border-radius: 10px;
  }
  
  .frame .text-wrapper-3 {
    top: 470px;
    left: 38px;
    font-family: "Pretendard-Regular", Helvetica;
    font-weight: 400;
    color: #757575;
    font-size: 12px;
    letter-spacing: -0.24px;
    line-height: 15.6px;
    position: absolute;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-4 {
    top: 470px;
    left: 142px;
    font-family: "Pretendard-Regular", Helvetica;
    font-weight: 400;
    color: #757575;
    font-size: 12px;
    letter-spacing: -0.24px;
    line-height: 15.6px;
    position: absolute;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-5 {
    top: 470px;
    left: 307px;
    font-family: "Pretendard-Regular", Helvetica;
    font-weight: 400;
    color: #757575;
    font-size: 12px;
    letter-spacing: -0.24px;
    line-height: 15.6px;
    position: absolute;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-6 {
    top: 264px;
    left: 99px;
    font-family: "Pretendard-Regular", Helvetica;
    font-weight: 400;
    color: #b3b3b5;
    font-size: 14px;
    letter-spacing: -0.28px;
    line-height: 18.2px;
    position: absolute;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-7 {
    top: 324px;
    left: 99px;
    font-family: "Pretendard-Regular", Helvetica;
    font-weight: 400;
    color: #b3b3b5;
    font-size: 14px;
    letter-spacing: -0.28px;
    line-height: 18.2px;
    position: absolute;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-8 {
    top: 263px;
    left: 38px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    letter-spacing: -0.28px;
    line-height: 18.2px;
    position: absolute;
    white-space: nowrap;
  }
  
  .frame .img-2 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 262px;
    left: 66px;
  }
  
  .frame .overlap-group {
    position: absolute;
    width: 356px;
    height: 48px;
    top: 407px;
    left: 16px;
    background-color: #0059d7;
    border-radius: 10px;
  }
  
  .frame .text-wrapper-9 {
    top: 14px;
    left: 159px;
    font-family: "Pretendard-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.28px;
    line-height: 18.2px;
    position: absolute;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-10 {
    top: 527px;
    left: 183px;
    font-family: "Pretendard-Regular", Helvetica;
    font-weight: 400;
    color: #757575;
    font-size: 12px;
    letter-spacing: -0.24px;
    line-height: 15.6px;
    position: absolute;
    white-space: nowrap;
  }
  
  .frame .overlap {
    position: absolute;
    width: 388px;
    height: 56px;
    top: 785px;
    left: 0;
    background-color: #d9d9d9;
  }
  
  .frame .img-3 {
    top: 16px;
    left: 83px;
    position: absolute;
    width: 24px;
    height: 24px;
  }
  
  .frame .img-4 {
    top: 16px;
    left: 281px;
    position: absolute;
    width: 24px;
    height: 24px;
  }
  
  .frame .img-5 {
    top: 16px;
    left: 182px;
    position: absolute;
    width: 24px;
    height: 24px;
  }
  
  .frame .text-wrapper-11 {
    top: 15px;
    left: 62px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #5f6368;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 20.8px;
    position: absolute;
    white-space: nowrap;
  }
  
  .frame .img-6 {
    top: 15px;
    left: 289px;
    position: absolute;
    width: 24px;
    height: 24px;
  }
  
  .frame .img-7 {
    top: 15px;
    left: 339px;
    position: absolute;
    width: 24px;
    height: 24px;
  }
  
  .frame .img-8 {
    top: 15px;
    left: 314px;
    position: absolute;
    width: 24px;
    height: 24px;
  }
  
  .frame .image {
    position: absolute;
    width: 69px;
    height: 36px;
    top: 132px;
    left: 181px;
  }
  
  .frame .group-2 {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 132px;
    left: 136px;
  }